<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
      <!-- Styling CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
      <!-- Script JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <!-- <script type="text/javascript" src="/scripts/profile.js"></script> -->
  </head>

  <body>
    <nav id="top-bar" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a id="title-link" class="navbar-brand" href="/">Wiki Maps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <main id="profile_container">
      <h4>Logged in as: <br> <%= users[0].name %></h4>

      <div id="favourites">
        <h3>My Favourite Maps</h3>
        <ul>
          <% favourites.forEach(function(item) { %>
            <li><a href="/maps/<%=item.mapId%>"><%= item.title %></a></li>
          <% }); %>
        </ul>
      </div>

      <div id="contributions">
        <h3>Maps I Contributed To</h3>
        <ul>
          <% contributions.forEach(function(item) { %>
            <li><a href="/maps/<%=item.mapId%>"><%= item.title %> / <%= item.pointTitle %></a></li>
          <% }); %>
        </ul>
      </div>

    </main>

  </body>
</html>
