<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- URL TITLE -->
  <title>Update Point</title>
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">
    <!-- Script JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/edit_point.js"></script>
</head>

<body>
  <nav id="top-bar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a id="title-link" class="navbar-brand" href="/">Wiki Maps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <main>
    <form method="POST" action="/points/<%= id %>/update">
      <div class="point_form">
        <input id="map-name" name="title" class="form-control form-control-lg form-pad" type="text" value="<%= title %>">

        <div class="form-group">
          <textarea name="description"class="form-control" id="exampleFormControlTextarea1" rows="5"><%= description %></textarea>
        </div>

        <input name="photo"class="form-control form-control-lg" type="url" value="<%= image %>">

        <div class="form-row">
          <div class="col">
            <input name="latitude"type="text" class="form-control form-pad" value="<%= latitude %>">
          </div>
          <div class="col">
            <input name="longitude"type="text" class="form-control form-pad" value="<%= longitude %>">
          </div>
        </div>
      </div>
      <button id= "add-point-submit"type="submit" class="btn btn-secondary">Update Point</button>
    </form>


  </main>
</body>
